<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>Socket</servlet-name>
        <servlet-class>it.pt.mt.srv.controller.network.CreatoreConnessioni</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Socket</servlet-name>
        <url-pattern>/socket</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>it.pt.mt.srv.controller.network.ServerListener</listener-class>
    </listener>
</web-app>
